@import "tailwindcss";
@import "./styles/grid.css";

:root {
  --background: #ffffff;
  --foreground: #272727;
  --primary: #000000;
  --secondary: #ffffff;
  --accent: #8ace00;
  --light-gray: #E9E9E9;
  --gray: #AEAEAE;
  --dark-gray: rgba(0, 0, 0, 0.5);
  --text-primary: #ffffff;
  --text-secondary: #dedede;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-light-gray: var(--light-gray);
  --color-gray: var(--gray);
  --color-dark-gray: var(--dark-gray);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #272727;
    --primary: #000000;
    --secondary: #000000;
    --accent: #000000;
    --light-gray: #E9E9E9;
    --gray: #AEAEAE;
    --dark-gray: rgba(0, 0, 0, 0.5);
    --text-primary: #ffffff;
    --text-secondary: #dedede;
  }
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}